include versioneer.py
include x86cpu/_version.py
include LICENSE
include MANIFEST.in
include README.rst
recursive-include src *.c *.h
recursive-include fake_pyrex *
# setup utilities
include cythexts.py
